# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
/logs/
**/__pycache__/
**/.DS_Store
testdev.yaml
schlafzimmer.yaml
working_example/**/*

# C++ Unit Test artifacts
tests/*.o
tests/test_frame_parsing
tests/test_core_logic
tests/test_integration
