# Gitignore settings for ESPHome 
/.esphome/
/secrets.yaml
/logs/
**/__pycache__/
**/.DS_Store
testdev.yaml
schlafzimmer.yaml
wohnzimmer.yaml
ota.yaml

# C++ Unit Test artifacts
tests/*.o
tests/test_frame_parsing
tests/test_core_logic
tests/test_integration
